/*
   Nintendo Fun Club style sheet 
   Filename: styles.css

   Author: Stephen Andrew Koertge  
   Date: March 4, 2018    
   Final Project Rough Draft 1
*/  
 /* reset styles */
 article, div, body, footer, header, h2, h3, p, li, ul, ol, form, legend, label {
	border:0;
	margin:0;
	padding:0;
 }
/* header and logo styles */  
 header {
	text-align: center;
	background-color:#fe0016;
	padding:10px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	width:100%;
	position:relative;
 }

 header h1 {
	color:white;
 }

/* nav styles */
nav.sitenav {
   color:#980016; 
   text-align:center;   
}
nav.sitenav p {
   display: inline-block;
   margin:0.5em;   
}
/* main body styles */
body {
   background-color:#ccc;	
}
footer {
   background-color:#fe0016;
   border-top:1px solid black;
   border-bottom:1px solid black;
   width:100%;
   text-align:center;
}	
footer p {
   color:white;
   margin:0.4em;   
}
div.paragraph {
   padding-left:3em;
   padding-right:3em;
   margin: 2em;  
   font-size:1.3em;   
}	
body p {
   font-size:1.3em;
}
/* link on click styles */
.links {
   position:relative;
   left:0.2em;
   padding-top: 1.2em;   
}	
nav.sitenav a:hover {
   color: gray;
   background-color: #870016;
}	
nav.sitenav a:visited {
   color:white;	
}
nav.sitenav a:link {
   color:white;	
}
a:link, a:visited {
   color:red;	
}
a:hover {
   color:black;	
}
/* form styles */
.container {
   background-color:#DDD;	
}	
form {
   width: 441px;
   float: left;
}

fieldset.text, fieldset.checks {
   position: relative;
   padding: 5px 30px 5px 0;
   margin-right: 15px;
}

legend {
   font-weight: bold;
   font-size: 18px;
   text-align: left;
   padding-left: 1.4em;
   margin-bottom: 0.5em;
}

legend span {
   text-align: right;
}

input, label {
   position: relative;
   line-height: 1.2em;
   display: block;
}

fieldset.checks input {
   float: left;
   clear: left;
   margin-right: 5px;
   margin-left: 5em;
   font-size: 18px;
}

fieldset.checks label {
   line-height: 1.2em;
   margin-bottom: 4px;
}

fieldset.text label {
   width: 10em;
   text-align: right;
   float: left;
   clear: left;
   margin: 5px 10px 0 0;
   font-weight: bold;
   font-size: 18px;
}

fieldset.text input {
   margin: 7px 5px 0 0;
}

input[type=button] {
   margin: 15px auto 0;
   font-size: 16px;
   background: rgb(202,230,233);
   width: 9em;
}
	
p.errorMsg {
   display: none;
   color: red;
   text-align: center;
}
/*fieldset styles */
fieldset {
   margin-bottom:0.8em;	
}	
fieldset.ageverify {
   margin-right:1.6em;	
}

/*field styles */
legend {
   font-weight:bold;	
}
#fninput, #lninput, #emailinput {
   width: 25em;	
}
#submit {
   border:none;
   padding: 0.4em, 0.6em;
   background-color: #e3d5ba;
   font-size: 1.25em;
   border-radius: 10px;   
}
/* small screen styles */
@media screen and (min-width: 460px), print {
 div {
	padding:2%;
 } 
 h2,h3,p {
	 text-align:left;
}	